/* Start Navigation Bar */
#navbar {
    background-color: #F1F3FF;
}

.navbar__logo {
    padding-left: 6%;
}

#navbar__menu {
    padding-right: 8%;
}

#cross {
    position: absolute;
    left: 132px;
    top: 20px;
    font-size: x-large;
}

#nickname {
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.navbar ul li {
    margin: 0 10px;
    margin-top: 5px;
}

.navbar ul li a {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

@media (max-width: 991px) {
    .navbar {
        z-index: 1000;
    }

    .navbar__logo {
        padding-left: 2%;
    }

    .navbar-collapse {
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow-x: hidden;
    }

    .navbar-nav {
        background-color: white;
        height: 100vh;
        width: 50%;
        left: 100%;
        position: absolute;
        transition: left .20s ease;
    }

    .navbar-collapse.collapsing {
        transition: background-color .20s ease;
    }

    .navbar-collapse.show .navbar-nav {
        transition: left .20s ease;
        left: 50%;
    }
} 
/* End Navigation Bar */

/* Start Main Section (content-1) */
.content-1 {
    background-color: #F1F3FF;
    padding-top: 2%;
}

.content-1__text {
    padding-left: 7%;
    padding-top: 3.5%;
}

.content-1__text--1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 150%;
    color: #000000;
}

.content-1__text--2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.content-1__gambar {
    padding-right: 0;
} 

@media (max-width: 992px) {
    .content-1 {
        display: block !important;
        padding-top: 0;
    }

    .content-1__text--1 {
        line-height: 54px;
    }

    .content-1__text--2 br {
        display: none;
    }
        
    .content-1__gambar {
        padding-top: 5%;
    }
} 
/* End Main Section (content-1) */

#cars-list {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

#filter-box {
    position: relative;
    z-index: 1090;
    margin-top: -80px;
}

.background-filter {
    background-color: rgba(0,0,0,.5);
    height: 100%;
    position: fixed;
    display: none;
}

@media (max-width: 992px) {
    #cars-list {
        margin-left: 0;
        margin-right: 0;
    }
} 

/* Start Footer */
.content-footer {
    padding-top: 7%;
    height: 450px;
}

.footer__kolom--1 {
    margin-left: 12px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.footer__kolom--2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-left: 40px;
}

.footer__kolom--3 {
    margin-left: -25px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.footer__kolom--3 p {
    margin-left: 10px;
}

.footer__kolom--3 li {
    list-style-type: none;
    float: left;
    margin: 0 8px; 
}

.footer__kolom--4 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-left: 50px;
}

@media (max-width: 992px) {
    .content-footer {
       padding-top: 15%;
       padding-left: 0;
       height: 525px;
    }
    
    .footer__kolom--1 {
        margin-left: 12px;
    }

    .footer__kolom--2 {
        margin-left: 12px;
    }

    .footer__kolom--3 {
        margin-left: 4px;
    }

    .footer__kolom--4 {
        margin-top: 10px;
        margin-left: 12px;
    }
}
/* End Footer */

/* by Mardhani Dwi Novianto */